<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <minimumEventLevel>WARN</minimumEventLevel>
    </appender>

    <appender name="Slack" class="com.mozi.moziserver.common.SlackAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <webhookUrl>${SLACK_WEBHOOK_URL}</webhookUrl>
        <channelName>${SLACK_CHANNEL_NAME}</channelName>

    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="Sentry" />
            <appender-ref ref="Slack"/>
        </root>
        <logger name="com.mozi.moziserver.log.ApiLogFilter" level="INFO" additivity="false">
            <appender-ref ref="JSON" />
        </logger>
    </springProfile>

    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="Sentry" />
            <appender-ref ref="Slack"/>
        </root>
        <logger name="com.mozi.moziserver.log.ApiLogFilter" level="INFO" additivity="false">
            <appender-ref ref="JSON" />
        </logger>
    </springProfile>
</configuration>